h1 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 65px;
}

h3 {
    margin: 0;
}


.accordion-flush {
    border: 0.5px solid #b7b7b7;
    margin-bottom: 30px;
}

.answer-area {
    border-radius: 8px;
    border-style: solid;
}



.body-collapse {
    margin-bottom: 30px;
    border: 1px solid #DEE2E6 !important;
    border-radius: 5px;
}



.btn-collapse {
    background-color: #E1E9EB !important;
    border: none;
    border-radius: 5px !important;
}

.chk-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.chk-button {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-item {
    cursor: pointer;
}

.menu-stuff {
    width: 130px;
}


.questions-section {
    padding: 30px 80px 30px 80px;
}


.questionsA {
    margin-top: 10px;
    margin-bottom: 30px;
}

.questionsB {
    margin-top: 10px;
    margin-bottom: 30px;
}

.questionsC {
    margin-top: 10px;
    margin-bottom: 30px;
}



.reading-task {
    text-align: center;
}


.section-header {
    border: none;
    border-radius: 5px;
}


.title {
    background-color: #D0EAEF;
    margin-top: 20px;
}

.title-img {
    width: 300px;
    margin: 20px 50px 20px 100px;
}

.tasks {
    padding: 50px 110px 50px 110px;
}
